<ion-view title='{{HEADER_LOGO}}' scroll="true" cache-view="false">
  <ion-nav-buttons side="right">
  </ion-nav-buttons>
  <ion-content overflow-scroll="true" scroll="true" padding="true"
               style="background: url(img/BackgroundLogin.png) no-repeat top left fixed; background-size:cover;"
               scroll="false">
    <div class="spacer" style="width: 300px; height: 36px;"></div>
    <div style="text-align:center;">
      <img src="img/LogoLogin.png" width="60%" height="auto">
    </div>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <form class="list" name="About">
      <h1 style="color: rgba(153,0,0,1);"><strong>COPYRIGHT NOTICE</strong></h1>
      <p class="MsoNormal"
         style="margin-top:30.0pt;margin-right:0cm;margin-bottom:15.0pt;margin-left:-.75pt;text-align:justify;line-height:30.0pt;">
        <strong>
                <span style="font-family:proxima-nova; font-size:10.5pt; color:#222222; ">
                  Open Source
                </span>
        </strong>
        <span style="font-family:proxima-nova; font-size:10.5pt; color:#222222; ">
                  CQNZ software application may contain or be provided together with open source software. Each item os open source software is subject to its own applicable license terms, which can be found at: cqnzopensource and/or in the software documentation or the applicable help, notices, about or source files. Copyrights to the open source software are held by the respective copyrights holders indicated therein.<br>
              </span>

        <strong>
                <span style="font-family:proxima-nova; font-size:10.5pt; color:#222222; ">
                  Third Party Licenses including Open Source Software (License/Notices)<br>
                </span>
        </strong>

        <span style="font-family:proxima-nova; font-size:10.5pt; color:#222222; ">
                  CQNZ software application use software provided by third parties, including open source software. This document contains Third Party Software Notices and/or Additional Terms and Conditions for licensed third party software components included within CQNZ software application.<br>

                  The following third party open source software components of the CQNZ software application (the “Open Source Code”) are governed solely by the applicable licenses listed below. For the avoidance of any doubt, and notwithstanding anything to the contrary, CQNZ LLC ("CQNZ") disclaims all warranties and indemnities relating to the Open Source Code, express or implied, including, but not limited to, any warranties of merchantability, fitness for a particular purpose, and non-infringement.<br>

                  <table>
                    <tr>
                      <th>
                        Third Party Software
                      </th>
                      <th>
                        License Type and Version
                      </th>
                      <th>
                        Link to Source or license
                      </th>
                    </tr>

                    <tr>
                      <td>
                        PostgreSQL
                      </td>
                      <td>
                        PostgreSQL license
                      </td>
                      <td>
                        <a
                          ui-sref="https://www.postgresql.org/about/licence/">https://www.postgresql.org/about/licence/</a>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        Datanucleus JDO
                      </td>
                      <td>
                        Apache 2
                      </td>
                      <td>
                        <a ui-sref="http://www.apache.org/licenses/LICENSE-2.0">http://www.apache.org/licenses/LICENSE-2.0</a>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        Apache ISIS
                      </td>
                      <td>
                        Apache 2
                      </td>
                      <td>
                        <a ui-sref="http://www.apache.org/licenses/LICENSE-2.0">http://www.apache.org/licenses/LICENSE-2.0</a>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        Apache Wicket
                      </td>
                      <td>
                        Apache 2
                      </td>
                      <td>
                        <a ui-sref="http://www.apache.org/licenses/LICENSE-2.0">http://www.apache.org/licenses/LICENSE-2.0</a>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        Ionic Framework
                      </td>
                      <td>
                        MIT license
                      </td>
                      <td>
                        <a ui-sref="https://opensource.org/licenses/MIT">https://opensource.org/licenses/MIT</a>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        AngujarJS Framework
                      </td>
                      <td>
                        MIT license
                      </td>
                      <td>
                        <a ui-sref="https://opensource.org/licenses/MIT">https://opensource.org/licenses/MIT</a>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        Apache Cordova
                      </td>
                      <td>
                        MIT license
                      </td>
                      <td>
                        <a ui-sref="http://www.apache.org/licenses/LICENSE-2.0">http://www.apache.org/licenses/LICENSE-2.0</a>
                      </td>
                    </tr>

                    <tr>
                      <td>
                        Google Maps API
                      </td>
                      <td>
                        Google terms of service
                      </td>
                      <td>
                        <a
                          ui-sref="https://developers.google.com/maps/terms">https://developers.google.com/maps/terms</a>
                      </td>
                    </tr>
                  </table>
                  <br>

                  <strong>
                    <span style="font-family:proxima-nova; font-size:10.5pt; color:#222222; ">
                      POSTGRESQL LICENSE<br>
                    </span>
                  </strong>

                  Copyright (2016) CQNZ LLC ("CQNZ")<br>

                  PostgreSQL is released under the PostgreSQL License, a liberal Open Source license, similar to the BSD or MIT licenses.<br>

                  PostgreSQL Database Management System<br>

                  (formerly known as Postgres, then as Postgres95)<br>

                  Portions Copyright (c) 1996-2016, The PostgreSQL Global Development Group<br>

                  Portions Copyright (c) 1994, The Regents of the University of California<br>

                  Permission to use, copy, modify, and distribute this software and its documentation for any purpose, without fee, and without a written agreement is hereby granted, provided that the above copyright notice and this paragraph and the following two paragraphs appear in all copies.<br>

                  IN NO EVENT SHALL THE UNIVERSITY OF CALIFORNIA BE LIABLE TO ANY PARTY FOR DIRECT, INDIRECT, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES, INCLUDING LOST PROFITS, ARISING OUT OF THE USE OF THIS SOFTWARE AND ITS DOCUMENTATION, EVEN IF THE UNIVERSITY OF CALIFORNIA HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.<br>

                  THE UNIVERSITY OF CALIFORNIA SPECIFICALLY DISCLAIMS ANY WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. THE SOFTWARE PROVIDED HEREUNDER IS ON AN "AS IS" BASIS, AND THE UNIVERSITY OF CALIFORNIA HAS NO OBLIGATIONS TO PROVIDE MAINTENANCE, SUPPORT, UPDATES, ENHANCEMENTS, OR MODIFICATIONS.<br>
              </span>
      </p>
    </form>
  </ion-content>

  <ng-include src="'templates/partials/footer.html'"></ng-include>

</ion-view>
