<!--<ion-view title='{{HEADER_LOGO}}' class="base-bg" cache-view="false" can-swipe-back="false">
	<ion-nav-bar class="bar-stable">
	    <ion-nav-buttons>
    		<button class="button button-clear" ng-click="$ionicGoBack()">
    			<i class="ion-chevron-left"></i> <i translate>GLOBAL.BACK</i>
    		</button>
	    </ion-nav-buttons>
	</ion-nav-bar>

	<ion-content class="comments-box" style="margin-top:-10px;">
		<div class="col col-100 text-center titleFavorites" translate>
        	FAVORITES.TITLE
      	</div>
	</ion-content>
</ion-view>-->