<div style="margin:0px; padding:0px;">
  <ion-content>

    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="30">
          <div class="on" id="happyoff" onclick="happyon()"><img src="img/happyOff.png"/></div>
          <div class="off" id="happyon" onclick="happyoff()"><img src="img/happyOn.png"/></div>
        </td>
        <td width="60" align="left" valign="middle" style="vertical-align:top; padding-top:6px; padding-left:7px;">
          <div class="on" id="happyNumberoff">3K</div>
          <div class="off" id="happyNumberon">3K</div>
        </td>


        <td width="30">
          <div class="on" id="wowoff" onclick="wowon()"><img src="img/wowOff.png"/></div>
          <div class="off" id="wowon" onclick="wowoff()"><img src="img/wowOn.png"/></div>
        </td>
        <td width="60" align="left" valign="middle" style="vertical-align:top; padding-top:6px; padding-left:7px;">
          <div id="wowNumberoff" class="on">301</div>
          <div id="wowNumberon" class="off">302</div>
        </td>


        <td width="30">
          <div class="on" id="sadoff" onclick="sadon()"><img src="img/sadOff.png"/></div>
          <div class="off" id="sadon" onclick="sadoff()"><img src="img/sadOn.png"/></div>
        </td>

        <td width="60" align="left" valign="middle" style="vertical-align:top; padding-top:6px; padding-left:7px;">
          <div id="sadNumberoff" class="on">0</div>
          <div id="sadNumberon" class="off">1</div>
        </td>


        <td width="30">

          <div class="on" id="wantoff" onclick="wanton()"><img src="img/wantOff.png"/></div>
          <div class="off" id="wanton" onclick="wantoff()"><img src="img/wantOn.png"/></div>
        </td>
        <td width="60" align="left" valign="middle" style="vertical-align:top; padding-top:6px; padding-left:7px;">
          <div class="on" id="wantNumberoff">413</div>
          <div class="off" id="wantNumberon">414</div>

        </td>
        <td><img src="img/comment.png"/></td>
      </tr>
    </table>

  </ion-content>
</div>
