<style>
  .has-error {
    border: solid 1px #EF473A !important;
  }

  .item-form {
    border: solid 1px #CCCCCC;
    margin: -3px !important
  }
</style>
<ion-view hide-nav-bar="true" cache-view="false">
  <ion-nav-bar class="bar-stable">
    <ion-nav-buttons>
      <button class="button button-clear" ng-click="$ionicGoBack()">
        <i class="ion-chevron-left"></i> <i translate>GLOBAL.BACK</i>
      </button>
    </ion-nav-buttons>
    <!--<ion-nav-back-button
      class="button icon-left ion-chevron-left button-clear button-dark close-comments"
      style="color:rgba(204,204,204,1); height:22px; padding-bottom:5px; visibility:visible !important; display:block !important;">
    </ion-nav-back-button>-->
  </ion-nav-bar>
  <ion-content overflow-scroll="false" class="has-header" padding="true">
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <div style="text-align:center;">
      <img src="img/LogoLogin.png" width="35%" height="auto">
    </div>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <form class="list" name="forgotForm" onsubmit="return false;">
      <div class="col">
        <div translate>RECOVER.TEXT</div>
        <div class="spacer" style="width: 283px; height: 5px;"></div>
        <label class="item item-input item-form"
               ng-class="{ 'has-error' : forgotForm.Email.$invalid && forgotForm.Email.$touched}">
          <input type="email" translate-attr="{ 'placeholder': 'RECOVER.EMAIL' }" name="Email" id="Email"
                 ng-model="data.Email" ng-minlength="4" required>
        </label>
        <div ng-if="forgotForm.Email.$error.minlength" class="item-input assertive">
          <span translate>RECOVER.TOO_SHORT</span>
        </div>
        <div ng-if="answer == 1 && !forgotForm.Email.$invalid" class="item-input assertive">
          <span translate>RECOVER.SPACES</span>
        </div>
        <div ng-if="answer == 2 && !forgotForm.Email.$invalid" class="item-input assertive">
          <span translate>RECOVER.FB_USER</span>
        </div>
        <div ng-if="answer == 4 && !forgotForm.Email.$invalid" class="item-input assertive">
          <span translate>RECOVER.NOT_FOUND</span>
        </div>
        <div class="spacer" style="width: 250px; height: 15px;"></div>
        <select ng-model="selected" ng-options="option.id as option.name for option in data.availableOptions"
                style="background: rgba(255, 255, 255, 0.9);    border: solid 1px #CCCCCC; margin: 0px 5px 5px 9px; color:rgba(51,51,51,.4); height:45px; width: 95%">
          <option value="" translate>RECOVER.HELP</option>
        </select>

        <div ng-if="selected == 1">
          <div class="spacer" style="width: 250px; height: 15px;"></div>
          <div style="width:100%; text-align:center; alignment-adjust:central;">
            <input type="button" translate-attr="{ 'value': 'GLOBAL.SEND' }" ng-click="findEmail()" class="button"
                   style="
                                                width:50%;
                                                border-radius: 7px;
                                                text-shadow: 3px 1px 3px #404040;
                                                font-family: Arial;
                                                color: #ffffff;
                                                font-size: 16px;
                                                background: #d93434;
                                                background-image:url(img/SendReactionIcon.svg);
                                                background-repeat:no-repeat;
                                                background-position:left center;
                                                background-position: 20px;
                                                padding: 0px 15px 0px 35px;
                                                border:none;
                                                border-color:transparent !important;
                                                text-decoration: none;">
            <ion-spinner icon="spiral" class="loadingAction" ng-if="uploading"></ion-spinner>
          </div>
        </div>
        <div ng-if="selected == 2">
          <div class="spacer" style="width: 283px; height: 15px;"></div>
          <label class="item item-input" ng-disabled="!data.userMail"
                 style="background: rgba(255, 255, 255, 0.9); margin-bottom:5px; color:#000; border: solid 1px #CCCCCC; margin: 0px 0px 0px 0px; ">
                                      <textarea translate-attr="{'placeholder':'RECOVER.HELP'}" rows="10" cols="50"
                                                maxlength="500" name="Body" id="Body" ng-model="data.Body"
                                                required="true">
                                     </textarea>
          </label>

          <div class="spacer" style="width: 283px; height: 25px;"></div>
          <div style="width:100%; text-align:center; alignment-adjust:central;">
            <input type="button" translate-attr="{ 'value': 'GLOBAL.SEND' }" ng-click="formMailLogin()" class="button"
                   style="
                                                width:50%;
                                                border-radius: 7px;
                                                text-shadow: 3px 1px 3px #404040;
                                                font-family: Arial;
                                                color: #ffffff;
                                                font-size: 16px;
                                                background: #d93434;
                                                background-image:url(img/SendReactionIcon.svg);
                                                background-repeat:no-repeat;
                                                background-position:left center;
                                                background-position: 20px;
                                                padding: 0px 15px 0px 35px;
                                                border:none;
                                                border-color:transparent !important;
                                                text-decoration: none;">
            <ion-spinner icon="spiral" class="loadingAction" ng-if="uploading"></ion-spinner>
          </div>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
