<ion-view title='{{HEADER_LOGO}}' scroll="true" cache-view="false">

  <ion-content overflow-scroll="true" scroll="true" padding="true"
               style="background: url(img/BackgroundLogin.png) no-repeat top left fixed; background-size:cover;"
               scroll="false">
    <div class="spacer" style="width: 300px; height: 36px;"></div>
    <div style="text-align:center;">
      <img src="img/LogoLogin.png" width="60%" height="auto">
    </div>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <form class="list" name="updateForm">
      <ion-list>
        <div class="spacer" style="width: 283px; height: 5px;"></div>
        <label class="item item-input">
          <input type="password" ng-model="oldPassword" name="oldPassword" required
                 translate-attr="{ 'placeholder': 'MENU.SETTINGS.UPDATE_PASSWORD.CURRENT' }">
        </label>
        <label ng-show="updateForm.oldPassword.$error.required && updateForm.oldPassword.$dirty" translate>MENU.SETTINGS.UPDATE_PASSWORD.REQUIRED</label>

        <label class="item item-input">
          <input type="password" ng-model="newPassword" name="newPassword" required
                 translate-attr="{ 'placeholder': 'MENU.SETTINGS.UPDATE_PASSWORD.NEW' }">
        </label>
        <label ng-show="updateForm.newPassword.$error.required && updateForm.newPassword.$dirty" translate>MENU.SETTINGS.UPDATE_PASSWORD.REQUIRED</label>

        <label class="item item-input">
          <input type="password" ng-model="retypePassword" ng-pattern="newPassword" name="retypePassword" required
                 translate-attr="{ 'placeholder': 'MENU.SETTINGS.UPDATE_PASSWORD.CONFIRM' }">
        </label>
        <label ng-show="updateForm.retypePassword.$error.pattern && updateForm.retypePassword.$dirty" translate>MENU.SETTINGS.UPDATE_PASSWORD.NOT_MATCH</label>
        <label ng-show="updateForm.retypePassword.$error.required && updateForm.retypePassword.$dirty" translate>MENU.SETTINGS.UPDATE_PASSWORD.REQUIRED</label>
      </ion-list>
      <div class="spacer" style="width: 283px; height: 24px;"></div>
      <a ng-click="updatePassword(oldPassword, newPassword, retypePassword)" class="button button-stable button-block "
         ng-disabled="updateForm.$invalid" translate>MENU.SETTINGS.UPDATE_PASSWORD.CHANGE</a>
    </form>
  </ion-content>

  <ng-include src="'templates/partials/footer.html'"></ng-include>

</ion-view>
