<!-- TAGS SECTION -->
<script type="text/ng-template" id="/tag-statement.tpl">
  <ul class="list-group">
    <li mentio-menu-item="Tag" ng-repeat="Tag in items" class="list-group-item">
      <div style="width: 30px; height: 30px; float: left; margin-right: 4px;">
        <img class="mentio-avatar mentio-image-avatar" ng-src="{{Tag.photo}}"/>
      </div>
      <span>{{ ::Tag.name }}</span>
    </li>
  </ul>
</script>

<script type="text/ng-template" id="/tag-statement2.tpl">
  <ul class="list-group">
    <li mentio2-menu-item="Tag" ng-repeat="Tag in items" class="list-group-item">
      <div style="width: 30px; height: 30px; float: left; margin-right: 4px;">
        <img class="mentio2-avatar mentio2-image-avatar" ng-src="{{Tag.photo}}"/>
      </div>
      <span>{{ ::Tag.name }}</span>
    </li>
  </ul>
</script>

<script type="text/ng-template" id="/tag-mentions.tpl">
  <ul class="list-group">
    <li mentio-menu-item="Tag" ng-repeat="Tag in items" class="list-group-item">
      <div style="width: 30px; height: 30px; float: left; margin-right: 4px;">
        <img class="mentio-avatar mentio-image-avatar" ng-src="{{Tag.photo}}"/>
      </div>
      <span>{{ ::Tag.name }}</span>
    </li>
  </ul>
</script>

<script type="text/ng-template" id="/tag-mentions2.tpl">
  <ul class="list-groupIOS">
    <li mentio2-menu-item="Tag" ng-repeat="Tag in items" class="list-group-item">
      <div style="width: 30px; height: 30px; float: left; margin-right: 4px;">
        <img class="mentio2-avatar mentio2-image-avatar" ng-src="{{Tag.photo}}"/>
      </div>
      <span>{{ ::Tag.name }}</span>
    </li>
  </ul>
</script>

<script type="text/ng-template" id="/tag-mentions3.tpl">
  <ul class="list-groupIOSMyProfile">
    <li mentio3-menu-item="Tag" ng-repeat="Tag in items" class="list-group-item">
      <div style="width: 30px; height: 30px; float: left; margin-right: 4px;">
        <img class="mentio3-avatar mentio3-image-avatar" ng-src="{{Tag.photo}}"/>
      </div>
      <span>{{ ::Tag.name }}</span>
    </li>
  </ul>
</script>

<script type="text/ng-template" id="/tag-mentions4.tpl">
  <ul class="list-groupIOS">
    <li mentio4-menu-item="Tag" ng-repeat="Tag in items" class="list-group-item">
      <div style="width: 30px; height: 30px; float: left; margin-right: 4px;">
        <img class="mentio2-avatar mentio2-image-avatar" ng-src="{{Tag.photo}}"/>
      </div>
      <span>{{ ::Tag.name }}</span>
    </li>
  </ul>
</script>
<!-- END TAGS SECTION -->


<!-- HASHES SECTION -->
<script type="text/ng-template" id="/hash-statement.tpl">
  <ul class="list-group">
    <li mentio-menu-item="Hash" ng-repeat="Hash in items" class="list-group-item">
      <span>{{ ::Hash.hash }}</span>
    </li>
  </ul>
</script>

<script type="text/ng-template" id="/hash-statement2.tpl">
  <ul class="list-group">
    <li mentio2-menu-item="Hash" ng-repeat="Hash in items" class="list-group-item">
      <span>{{ ::Hash.hash }}</span>
    </li>
  </ul>
</script>

<script type="text/ng-template" id="/hash-mentions.tpl">
  <ul class="list-group">
    <li mentio-menu-item="Hash" ng-repeat="Hash in items" class="list-group-item">
      <span>{{ ::Hash.hash }}</span>
    </li>
  </ul>
</script>

<script type="text/ng-template" id="/hash-mentions2.tpl">
  <ul class="list-group">
    <li mentio2-menu-item="Hash" ng-repeat="Hash in items" class="list-group-item">
      <span>{{ ::Hash.hash }}</span>
    </li>
  </ul>
</script>
<!-- HASHES SECTION -->
